<div xmlns:th="http://www.thymeleaf.org" th:fragment="form-updateResult">

    <form th:action="@{/cars/update/confirm}" method="post">
        <input type="hidden" name="id" th:value="${car.getId()}">
        <input type="text" name="brand" placeholder="brand" th:value="${car.getBrand()}"/>
        <input type="text" name="model" placeholder="model" th:value="${car.getModel()}"/>
        <input type="text" name="year" placeholder="year" th:value="${car.getYear()}"/><br>
        <textarea  type="text" name="describe" placeholder="describe" th:value="${car.getDescribe()}"></textarea>
        <button type="submit">update car</button>
    </form>
</div>